/* Style for page */
.divider{
  margin-top: 10px;
}
.search{
  width:50%;
  float:left;
}
.float-left{
  float:left;
}
#contenticons{
  background: url(../img/bg.png);
}
.small-btn-search{
  position: relative;
  float: right;
  padding: 6px 15px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #333;
  border-radius: 4px;
  color:white;
}
.float-right{
  float:right;
}
.search-btn{
  float:right;
  margin-left: 4px;
}
.active a{
  background-color: rgba(0,0,0,0) !important;
  color:white;
}
.navbar-inverse .navbar-nav>li>a{
  color:white;
}
header .navbar{
  background: #61585d;
}
.nav{
  text-align: center;
}

.tab-pane button{
  margin:3px;
}
#cattitle, #imgtitle{
  color:#61585d;
  padding:10px;
}

.flag-icon.flag-icon-squared{
  width: 2em !important;
}
.flag-icon{
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  line-height: 2em !important;
}
#content{
  background:#f5f5f5;
  color:#beab9c;
  min-height:200px;
  margin-top:5px;
  padding: 5px;
}

  /* Header flags */
.flags button, .flags button { background: transparent; border: 0; color: #000; opacity: .5; }
.flags button:hover, .flags button:hover { opacity: 1; }
.flags button:disabled, .flags button:disabled { opacity: .2; }

.flags .forward, .flags .backward, .flags .next, .flags .prev { float: left; width: 10px; height: 50px; font-size: 20px; }
.flags .forward, .flags .next { float: right;margin-left: -30px; }

.flags .frame { margin: 0 13%; width: 80%; height: 50px; line-height: 50px; overflow: hidden; text-shadow: none; }
.flags .frame ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 20px; }
.flags .frame ul li { float: left; width: 60px; height: 100%; margin: 0 1px 0 0; padding: 0; background: #fff; color: #3a3c47; text-align: center; cursor: pointer; }
.flags .frame ul li.active { color: #fff; background: #00a4e8; transform:scale(1.2,1.5); transition: transform 1s; }

.flags .scrollbar { margin: 0 auto; width: 940px; height: 2px; line-height: 0; }
.flags .scrollbar .handle { width: 100px; height: 100%; background: #fff; cursor: pointer; }
.flags .scrollbar .handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px; }

.flags .pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.flags .pages li { display: inline-block; width: 14px; height: 14px; margin: 0 4px; text-indent: -999px; border-radius: 10px; cursor: pointer; overflow: hidden;
  background: #fff; box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.flags .pages li:hover { background: #aaa; }
.flags .pages li.active { background: #666; }

.flags .controls { margin: 50px 0 0; text-align: center; }
.flags .controls .divider { display: inline-block; margin: 0 10px; }
.flags .controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.flags .controls button i { position: relative; top: -2px; margin: 5px; padding: 0; font-size: 32px; vertical-align: middle; }

 /* Header categories */
.categories button, .categories button { background: transparent; border: 0; color: #000; opacity: .5; }
.categories button:hover, .categories button:hover { opacity: 1; }
.categories button:disabled, .categories button:disabled { opacity: .2; }

.categories .forward, .categories .backward,.categories .next, .categories .prev { float: left; width: 25px; height: 50px; font-size: 20px; }
.categories .forward, .categories .next { float: right;margin-left: -30px; }

.categories .frame { margin: 0 5%; width: 90%; height: 50px; line-height: 50px; overflow: hidden; text-shadow: none; }
.categories .frame ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 20px; }
.categories .frame ul li { float: left; width: 130px; height: 100%; margin: 0 5px 0 0; padding: 0; background: #ccc; color: #3a3c47; text-align: center; cursor: pointer; }
.categories .frame ul li.active { color: #fff; background: #00a4e8; }

.categories .scrollbar { margin: 0 auto; width: 940px; height: 2px; line-height: 0; }
.categories .scrollbar .handle { width: 100px; height: 100%; background: #fff; cursor: pointer; }
.categories .scrollbar .handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px; }

.categories .pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.categories .pages li { display: inline-block; width: 14px; height: 14px; margin: 0 4px; text-indent: -999px; border-radius: 10px; cursor: pointer; overflow: hidden;
  background: #fff; box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.categories .pages li:hover { background: #aaa; }
.categories .pages li.active { background: #666; }

.categories .controls { margin: 50px 0 0; text-align: center; }
.categories .controls .divider { display: inline-block; margin: 0 10px; }
.categories .controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.categories .controls button i { position: relative; top: -2px; margin: 5px; padding: 0; font-size: 32px; vertical-align: middle; }

/* Custom bootstrap */
.navbar, .panel{
  margin-bottom: 0;
}
.img-thumbnail{
  background-color: rgba(0,0,0,0);
}
@media(max-width:313px){
  button[data-target="#mySearch"]{ display:none; }
}
@media(max-width:767px){
  
}
@media(min-width:768px){
  .navbar-form .search{
    width: 230px;
  }
}
@media(min-width:992px){
 .navbar-form .form-control{
    width: 455px;
  } 
}
@media(min-width:1200px){
 .navbar-form .form-control{
    width: 655px;
  } 
}
